/*Lien internet pour la bibliothèque du code CSS https://developer.mozilla.org/en-US/docs/Web/CSS 
et voir notes dans mon dossier PPT*/



/*CSS global*/
	
body{
	margin: 0;
	
}

#content{
	display: flex;
	flex-direction: row;
	width: 100%;
	

}

/*CSS bloc gauche*/
.bloc-gauche{
	width: 35%;
	background-color: #45FBD3;
		
}


/* CSS de la photo de profil*/

.photo-ronde{	/*encadrement en cercle de la photo*/
	overflow: hidden;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 2px solid #434952;
	width: 150px;
	height: 150px;
	text-align: center;
 }

/*propriétés pour que la photo rentre dans l'encadrement en cercle*/
img{ 
	width: inherit;
	height: inherit;
	border-radius: inherit;
	object-fit: cover;
	object-position: top center;

}

.nom-queries {
	display: none;
}

.job-queries{
	display: none;
}

.hr1-queries{
	display: none;
}

/* CSS des titres encadrés en gris et texte en blanc*/
.perso{
	color: white ;
	border: 2px solid #434952;
	background-color: #434952;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	font-size: 25px;
}

/* CSS du texte sous l'encadré "contact" pour les coordonnées*/
.texte-perso{
	padding: 40px;
	word-wrap: break-word;
}

/* CSS du texte sous l'encadré "à propos de moi" pour descriptif de moi-même*/
.texte-perso1{
	padding: 40px;
	text-align: justify;
	
}


/* CSS pour que l'adresse mail se coupe lorsqu'on rétrécit l'écran, éviter le débordement en dehors de la colonne attitré*/
.email{
	word-wrap: break-word;
}

/*CSS de la partie "loisirs" pour créer la section qui contient les 3 icônes encerclés*/
.icones{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 40px;
	
}

/*CSS de la partie "loisirs" pour encercler les icônes*/
.loisir{
	font-size: 40px;
	border-radius: 50%;
	border: 2px solid #434952;
	padding: 20px;
	
}



/* CSS pour la partie principale MAIN de droite afin de mettre espacement 50px de chaque côté*/
.bloc-droite{
	padding: 50px;
	

}

/* CSS pour la mise en forme de mon nom en entier "Lucie Venard"*/
.nom{
	font-family: 'Monoton', cursive;
	font-size: 60px;
	margin-top: -20px;
	margin-bottom: -20px;
}

/* CSS pour changer la couleur uniquement de mon prénom "lucie"*/
.lucie{
	color: #45FBD3;
	
}

/* CSS pour changer la police et la taille du titre du job dév web junior*/
.job{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	
}

/* CSS pour la police, la taille et l'emplacement des titres de la partie principale de droite formation, exp pro et reco */
.titre-exp{
	font-family: 'Lobster', cursive;
	font-size: 40px;
	margin-top: 70px;
}

/* CSS la 1ere ligne horizontale pour souligner partiellement le titre du job*/
.hr1{
	border: 0;
    height: 4px;
    background: #45FBD3;
	margin-top: -35px;
	width: 13%;
	margin-left: 0;
	text-align: left;
	
}


/* CSS de toutes les autres lignes horizontales qui servent à séparer les parties formation/exp pro/reco, https://css-tricks.com/examples/hrs/ */
.hr{
	border: 0;
    height: 4px;
    background: #45FBD3;
	margin-top: -30px;
	width: auto;
 	
}

/* CSS mettre en forme la partie formation, dates et lieu à gauche + école, formation et descriptif à droite*/
.encart-exp{
	display: flex;
	flex-direction: row;
	flex-direction: space-between;

	
}

/* CSS mettre en forme taille et couleur de l'icône des dates*/
.point{
	font-size: 20px;
	color: #45FBD3;	
}


/* CSS pour ajuster l'emplacement à gauche de la partie dates + lieu */
.date-lieu{
	
	width: 150px;
	margin-right: 50px;
	
	
}

/* CSS pour ajuster l'emplacement à droite de la partie école */
.ecole{
	width: 600px;
	
	
}

/* CSS pour ajuster l'emplacement à droite de la partie école */
.descriptif-exp{
	width: 600px;
	height: 200px;

}

/* CSS pour réduire la taille des titres H2 car choix pour référencement mais visuellement pas esthétique car trop grand par rapport au titre au dessus */
h2{
	font-size: 17px;
}

/* CSS pour mettre en forme deux blocs distincts pour la dernière partie: recommandations*/
.encart-reco{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

/* CSS pour ajuster la mise en forme*/
.reco{
	width: auto;
	height: 110px;
}

/* CSS appliqué aux écrans laptop en-dessous de 1024px*/
@media screen and  (max-width: 1024px) {
   
   
   #content {
      display: flex;
      flex-direction: column;
     
    }

    .bloc-gauche{
    	width: 100%;
    	
    }

    .photo-ronde{
    	text-align: center;
    }

    .nom{
    	display: none;
    }

    .nom-queries{
		display: block;
		font-family: 'Monoton', cursive;
		font-size: 50px;
		text-align: center;

	}

	.job{
		display: none;
	}

	.job-queries{
		display: block;	
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 40px;
		text-align: center;
		margin-top: -60px;
		margin-bottom: 60px;

	}

	.hr1{
		display: none;
	}

	.hr1-queries{
	border: 0;
    height: 4px;
    background: white;
	margin-top: -75px;
	width: 13%;
	text-align: center;
	margin-left: 170px;

	}

	.lucie-mobile{
		color: white;

	}

	.perso{
		
	font-size: 35px;
}


	.texte-perso1{
	font-size: 25px;
	padding: 40px;
		
}

    .texte-perso{
    	text-align: center;
    	font-size: 25px;
    }

    .icones{
    	justify-content: space-around;
    }
    

   .hr{
   	width: 100%;
   }

   

   .encart-exp{
		display: flex;
		flex-direction: column;
	
	}

	

	.date-lieu{
		width: auto;
		font-size: 25px;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
		
	}

	.ecole{
		font-size: 25px;
		padding-bottom: 20px;
		width: auto;
		
	}

	h2{
		font-size: 25px;
	}


	.descriptif-exp{
		width: auto;
		height: auto;
		padding-bottom: 20px;
		font-size: 25px;
		
		
	}
	
	.titre-exp{
		font-size: 30px;

	}

	.encart-reco{
		display: flex;
		flex-direction: row;
	}

	.reco{
		width: 800px;
		font-size: 20px;
	}

}
 
 /* CSS appliqué aux écrans tablet en-dessous de 768px*/
@media screen and  (max-width: 768px) {
   
   

   #content {
      display: flex;
      flex-direction: column;
       
    }

    .bloc-gauche{
    	width: 100%;
    	
    }

    .photo-ronde{
    	text-align: center;
    }

    .nom{
    	display: none;
    }

    .nom-queries{
		display: block;
		font-family: 'Monoton', cursive;
		font-size: 50px;
		text-align: center;

	}

	.job{
		display: none;
	}

	.job-queries{
		display: block;	
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 40px;
		text-align: center;
		margin-top: -60px;
		margin-bottom: 60px;

	}

	.hr1{
		display: none;
	}

	.hr1-queries{
	border: 0;
    height: 4px;
    background: white;
	margin-top: -75px;
	width: 17%;
	text-align: center;
	margin-left: 72px;

	}

	.lucie-mobile{
		color: white;

	}

	.perso{
		
	font-size: 35px;
}


	.texte-perso1{
	font-size: 20px;
	padding: 40px;
		
}

    .texte-perso{
    	text-align: center;
    	font-size: 20px;
    }

    .icones{
    	justify-content: space-around;
    }
    

   .hr{
   	width: 100%;
   }

   

   .encart-exp{
		display: flex;
		flex-direction: column;
	
	}

	

	.date-lieu{
		width: auto;
		font-size: 20px;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
		
		
	}

	.ecole{
		font-size: 20px;
		padding-bottom: 20px;
		width: auto;
		
	}

	h2{
		font-size: 20px;
	}


	.descriptif-exp{
		width: auto;
		height: auto;
		padding-bottom: 20px;
		font-size: 20px;
		
		
	}
	
	

	.encart-reco{
		display: flex;
		flex-direction: row;
	}

	.reco{
		width: 800px;
		height: auto;
		font-size: 20px;
	}

}

/* CSS appliqué aux écrans smartphone entre 425px et 320px*/
@media screen and (min-width: 320px) and (max-width: 425px) {
   
   

   #content {
      display: flex;
      flex-direction: column;
      width: 470px; /*format adapté pour écran de 320px*/
    }

    .bloc-gauche{
    	width: 100%;
    	
    }

    .photo-ronde{
    	text-align: center;
    }

    .nom{
    	display: none;
    }

    .nom-queries{
		display: block;
		font-family: 'Monoton', cursive;
		font-size: 45px;
		text-align: center;

	}

	.job{
		display: none;
	}

	.job-queries{
		display: block;	
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 30px;
		text-align: center;
		margin-top: -60px;
		margin-bottom: 60px;

	}

	.hr1{
		display: none;
	}

	.hr1-queries{
	border: 0;
    height: 4px;
    background: white;
	margin-top: -72px;
	width: 17%;
	text-align: center;
	margin-left: 65px;

	}

	.lucie-mobile{
		color: white;

	}

	.perso{
		
	font-size: 35px;
}


	.texte-perso1{
	font-size: 25px;
	padding: 40px;
		
}

    .texte-perso{
    	text-align: center;
    	font-size: 25px;
    }

    .icones{
    	justify-content: space-around;
    }
    

   .hr{
   	width: 100%;
   }

   

   .encart-exp{
		display: flex;
		flex-direction: column;
	
	}

	

	.date-lieu{
		width: auto;
		font-size: 20px;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
		
		
	}

	.ecole{
		font-size: 20px;
		padding-bottom: 20px;
		width: auto;
		
	}

	h2{
		font-size: 20px;
	}


	.descriptif-exp{
		width: auto;
		height: auto;
		padding-bottom: 20px;
		font-size: 20px;
		
		
	}
	
	

	.encart-reco{
		display: flex;
		flex-direction: row;
	}

	.reco{
		width: 470px;
		height: auto;
		font-size: 15px;
		padding-right: 30px;
	}

}